<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" method="post" th:object="${user}">
    <label>First name</label>
    <input type="text" th:field="*{firstName}"/><br>
    <p style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
    <label>Last name</label>
    <input type="text" th:field="*{lastName}"/><br>
    <p style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    <label>Phone Number</label>
    <input type="text" th:field="*{phoneNumber}"/><br>
    <label>Age</label>
    <input type="text" th:field="*{age}"/><br>
    <label>Email</label>
    <input type="text" th:field="*{email}"/><br>
    <button type="submit">Create</button>
</form>
</body>
</html>