<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Music app</h3>
<p>
    <a th:href="@{/create}">
        Add new entity
    </a>
</p>
<table id="entityList">
    <thead>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Type</th>
        <th>filePath</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity:${entityList}">
        <td th:text="${entity.name}"></td>
        <td th:text="${entity.artist}"></td>
        <td th:text="${entity.type}"></td>
        <!--        <td><audio th:src="${entity.filePath}" controls>-->
        <!--            Trình duyệt không hỗ trợ phát âm thanh-->
        <!--        </audio></td>-->
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>