<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>List Customer</title>
    <link rel="stylesheet" href="/file_bootstrap5/bootstrap.min.css">
    <script src="/file_bootstrap5/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/file_css/listCustomer.css">
</head>

<body class="container-fluid">
<header>
    <div class="logo">
        <img src="http://placehold.it" width="50" height="50"><br>
        <center><b>Logo</b></center>
    </div>
    <b class="user">Nguyễn Văn A</b>
</header>
<div class="link">
    <a href="#" class="link_a" style="margin-left:100px">Home</a>
    <a href="#" class="link_a">Employee</a>
    <a href="#" class="link_a">Customer</a>
    <a href="#" class="link_a">Service</a>
    <a href="#" class="link_a">Contract</a>
</div>
<div class="content">
    <center style="font-size: larger;"><b>List Customer</b></center>
    <form th:action="@{/customer}" style="float: left;margin-left: 20px">
        <input name="nameCustomer" type="text" placeholder="enter your name"/>
        <input type="submit" class="btn btn-primary" role="button" aria-disabled="true" value="Search"/>
    </form>
    <a th:href="@{/customer/addCustomer}" class="btn btn-primary" role="button" aria-disabled="true"
       style="float: right;margin-right: 20px;margin-bottom: 10px">Add New</a>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Customer Type</th>
            <th>Date Of Birth</th>
            <th>Gender</th>
            <th>Id Card</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr th:if="${customers.isEmpty()}">
            <td colspan="10">Not found</td>
        </tr>
        <tr th:each="customer:${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td th:text="${customer.dateOfBirth}"></td>
            <td>
                <p th:if="${customer.gender==1}">Nam</p>
                <p th:if="${customer.gender==0}">Nữ</p>
            </td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td>
                <a th:href="@{customer/edit/{id}(id=${customer.id})}" class="btn btn-primary" role="button" aria-disabled="true">Edit</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                </button>
            </td>
        </tr>
    </table>
<!--    phan trang-->
    <center>
        <div th:if="${!customers.isEmpty()}" style="margin-top: 50px">
            <a class="btn btn-primary btn-sm" role="button" aria-disabled="true"
               th:href="@{/customer(page=${customers.number - 1},nameCustomer=${nameCustomer})}"
               th:if="${customers.hasPrevious()}">Previous</a>
            <span th:href="${customers.isEmpty()}" th:each="pageNo:${#numbers.sequence(0,customers.totalPages-1)}">
                <a th:if="${!(customers.number==pageNo)}" class="btn btn-primary btn-sm" role="button" aria-disabled="true"
                   th:href="@{/customer(page=${pageNo},nameCustomer=${nameCustomer})}" th:text="${pageNo}"/>
                <a th:if="${(customers.number==pageNo)}" class="btn btn-primary btn-sm" role="button" aria-disabled="true"
                   th:href="@{/customer(page=${pageNo},nameCustomer=${nameCustomer})}" th:text="${pageNo}"
                   style="background-color: red"/>
            </span>
            <a class="btn btn-primary btn-sm" role="button" aria-disabled="true"
               th:href="@{/customer(page=${customers.number + 1},nameCustomer=${nameCustomer})}"
               th:if="${customers.hasNext()}">Next</a>
        </div>
    </center>
</div>
<footer>
    <center><b>Footer</b></center>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Id:</th>
                        <td>Id</td>
                    </tr>
                    <tr>
                        <th>Customer Type:</th>
                        <td>Customer Type</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>Name</td>
                    <tr>
                        <th>Date Of Birth:</th>
                        <td>Date Of Birth</td>
                    </tr>
                    <tr>
                        <th>Gender:</th>
                        <td>Gender</td>
                    </tr>
                    <tr>
                        <th>Id Card:</th>
                        <td>Id Card</td>
                    </tr>
                    <tr>
                        <th>Phone Number:</th>
                        <td>Phone Number</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>Address</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        onclick="return confirm('Are you sure you want to delete?')">Delete
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
