header {
    width: 100%;
    height: 100px;
    border: 1px solid;
    position: relative;
}

.logo {
    position: absolute;
    width: 50px;
    top: 10px;
    left: 10px;
}

.user {
    position: absolute;
    top: 40px;
    right: 30px;
}

.link {
    width: 100%;
    height: 40px;
    border: 1px solid;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.link_a {
    position: relative;
    top: 10px;
    margin-left: 50px;
    font-weight: bold;
}

.search {
    border-radius: 7px;
    width: 200px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.content {
    width: 100%;
    height: auto;
    border: 1px solid;
}
footer {
    width: 100%;
    height: 50px;
    border: 1px solid;
    padding-top: 10px;
    position: relative;
}