<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
    <style>
        button > a {
            text-decoration: none;
            color: black;
        }

        button {
            border: 1px white solid;
        }

        button:hover {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<form action="/save" method="post" th:object="${product}">
    <table>
        <tr>
            <th>name</th>
            <td><input type="text" th:field="*{name}"/></td>
            <td><p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></td>
        </tr>
        <tr>
            <th>price</th>
            <td><input type="text" th:field="*{price}"/></td>
            <td><p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p></td>
        </tr>
        <tr>
            <th>detail</th>
            <td><input type="text" th:field="*{detail}"/></td>
            <td><p style="color: red" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></p></td>
        </tr>
        <tr>
            <th>producer</th>
            <td><input type="text" th:field="*{producer}"/></td>
            <td><p style="color: red" th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}"></p></td>
        </tr>
        <tr>
            <th></th>
            <th>
                <button type="submit">save</button>
                <button><a th:href="@{/home}">cancle</a></button>
            </th>
        </tr>
    </table>
</form>
</body>
</html>