<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${song}" action="/save" method="post">
    <input hidden type="text" th:field="*{id}"/><br>
    <label> name</label>
    <input type="text" th:field="*{name}"/><br>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <label>artist</label>
    <input type="text" th:field="*{artist}"/><br>
    <p style="color: red" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></p>
    <label>type</label>
    <input type="text" th:field="*{type}"/><br>
    <p style="color: red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
    <button type="submit">Save</button>
</form>
</body>
</html>