<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/create}">create</a>
<table>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Type</th>
        <th></th>
    </tr>
    <tr th:each="song:${songs}">
        <td th:text="*{song.name}"></td>
        <td th:text="*{song.artist}"></td>
        <td th:text="*{song.type}"></td>
        <td><a th:href="@{/update/{id}(id=${song.id})}">update</a></td>
    </tr>
</table>
</body>
</html>